@model List<MVC.Models.Post>
@{
    ViewData["Title"] = "Home Page";

    @foreach(var post in Model){
        <p>@post.title</p>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
